.album-photos{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
}
.one{
    color: #e6e6e6;
    font-family: Verdana, sans-serif;
    height: 30%;
    width: 100%;  
    overflow: hidden;  
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: goldenrod;
}

.one:hover .texto{
    left: 0px;
}

.one .texto {    
    background: #64646480;
	box-sizing: border-box;         /* Opera/IE 8+ */
    float: left;
    height: 30%;    
    left: -465px;    
    opacity: 1;    
    padding: 5em;
    position: absolute;  
    text-align: center;
    top: 0;  
    width: 25%;
    /* transition: all 0.7s ease-out; */
}
.one .texto a {
  color: #fff;
  clear: both;
  float: left;
  width: 100%;
}
.imagen{
    width: 100%;
    display: flex;
    background-color: hotpink;
}
.imagen img{
    height: 100%;
}
