.App{
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: coral;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(10, 158, 42);
}
.header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    background-color: rgb(192, 11, 168);
}
.video-container{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(163, 153, 16);
}
.presentation-home{
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(2, 69, 124);
}
.presentation-home p{
    margin-left: 2%;
    margin-right: 2%;
}
