.home{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: crimson;
}
.album-photo-container{
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: crimson;
}